/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

html {
  height: 100%;
}

body {
  background-color: #fff;
  color: #24292e;
  line-height: 1.5;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji;
}

input:focus {
  border-color: #2188ff;
  box-shadow: inset 0 1px 2px rgb(27 31 35 / 8%),
    0 0 0 0.2em rgb(3 102 214 / 30%);
}

#app {
  height: 100%;
}

.input-page {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 1rem;
}

.input-page main {
  margin-top: auto;
  margin-bottom: auto;
  width: 100%;
  max-width: 544px;
}

.input-page__heading {
  text-align: center;
  font-size: 1.65rem;
  font-weight: 400;
}

@media (min-width: 544px) {
  .input-page__heading {
    font-size: 2rem;
  }
}

.input-page-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 1.5rem;
}

.input-page-form__input {
  background-color: #fafbfc;
  font-size: 14px;
  font-family: inherit;
  text-align: start;
  border: 1px solid #d1d5da;
  border-radius: 3px;
  outline: none;
  box-shadow: inset 0 1px 2px rgb(27 31 35 / 8%);
  color: #24292e;
  padding: 0.4rem 0.75rem;
}

.input-page-form__input:focus {
  border-color: #2188ff;
  outline: none;
  box-shadow: inset 0 1px 2px rgb(27 31 35 / 8%),
    0 0 0 0.2em rgb(3 102 214 / 30%);
}

.input-page-form__button {
  font-weight: 600;
  font-size: 0.875rem;
  text-transform: capitalize;
  border: 1px solid rgba(27, 31, 35, 0.2);
  border-radius: 0.25rem;
  padding: 0.4rem 1.5rem;
  margin-top: 0.5rem;
  background-color: #28a745;
  background-image: linear-gradient(-180deg, #34d058 0%, #28a745 90%);
  color: #fff;
  transition: 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  transition-property: color, background-color, border-color;
}

.input-page-form__button:active,
.input-page-form__button:focus {
  border-color: rgba(27, 31, 35, 0.5);
  box-shadow: 0 0 0 0.2em rgb(3 102 214 / 30%);
}

@media (min-width: 544px) {
  .input-page-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }

  .input-page-form__input {
    flex-grow: 1;
  }

  .input-page-form__button {
    margin-left: 1rem;
    margin-top: 0;
  }
}

.input-page-flash {
  width: 100%;
  margin-bottom: 2rem;
  padding: 1rem;
  border-radius: 0.25rem;
  text-align: center;
  text-transform: capitalize;
  font-size: 0.9rem;
  color: #032f62;
  background-color: #dbedff;
  border: 1px solid rgba(27, 31, 35, 0.15);
}

.visually-hidden {
  opacity: 0;
}

.input-page-flash--error {
  color: #86181d;
  background-color: #ffdce0;
  border-color: rgba(27, 31, 35, 0.15);
}

.input-page-footer {
  font-size: 0.8rem;
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.input-page-footer > * {
  margin: 0.4rem;
}

/* profile page styles */

.dropdown-caret {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: middle;
  content: '';
  border-top-style: solid;
  border-top-width: 4px;
  border-right: 4px solid transparent;
  border-bottom: 0 solid transparent;
  border-left: 4px solid transparent;
}

.icon {
  display: inline-block;
  overflow: visible !important;
  vertical-align: text-bottom;
  fill: currentColor;
}

.icon-desktop {
  display: none;
}

@media (min-width: 800px) {
  .icon-desktop {
    display: inline-block;
    margin-right: 0.5rem;
    fill: currentColor;
    color: #959da5;
  }
}

.header {
  z-index: 32;
  padding: 1rem;
  font-size: 0.875rem;
  line-height: 1.5;
  color: #ffffffb3;
  background-color: #24292e;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
}

.header__item {
  align-self: stretch;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  line-height: 1.5;
}

.header__menu {
  align-items: center;
  align-self: stretch;
  font-size: 0.875rem;
}

.header__button {
  user-select: none;
  background-color: initial;
  border: 0;
  padding: 0;
  border-radius: 0;
  color: #fff;
}

.header a {
  font-weight: 600;
  color: #fff;
  white-space: nowrap;
  position: relative;
  font-size: 0.875rem;
  transition: color 0.2s ease-out;
}

.header a:hover {
  color: #ffffffb3;
}

.header__logo {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  justify-content: center;
}

.mail-status {
  position: absolute;
  top: -6px;
  left: 6px;
  z-index: 2;
  width: 14px;
  height: 14px;
  color: #fff;
  background-image: linear-gradient(#54a3ff, #006eed);
  background-clip: padding-box;
  border: 2px solid #24292e;
  border-radius: 50%;
}

.header__notification {
  position: relative;
  color: #fff;
  font-size: 0.875rem;
}

.header-menu-items {
  width: 100%;
  margin-top: 1rem;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;

  display: none;
}

/* .header-menu-items.hidden {
  border: 1px solid red;
  visibility: hidden;
  display: none;
} */

.header-menu-items.visible {
  display: block;
}

.header-search {
  margin-bottom: 1rem;
}

.header-search-wrapper {
  padding: 0;
  font-size: inherit;
  color: #fff;
  vertical-align: middle;
  box-shadow: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #24292e;
  border: 1px solid #444d56;
  padding: 4px 8px;
  padding-left: 12px;
  border-radius: 6px;
}

.header-search-input {
  width: 100%;
  font-size: inherit;
  background: none;
  border: 0;
  padding: 0;
  box-shadow: none;
  font-size: 0.875rem;
  outline: none;
  color: #fff;
}

.header-search-input::placeholder {
  color: #ffffffb3;
}

.header-search-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-nav {
  display: flex;
  flex-direction: column;
}

.header-nav a {
  font-weight: 600;
  text-decoration: none;
  white-space: nowrap;
  border-top: 1px solid #ffffff26;
  display: block;
  padding-top: 8px;
  padding-bottom: 8px;
}

.header-icons {
  display: none;
}

.x {
  display: flex;
  align-items: center;
  color: #fff;
  gap: 0.3rem;
}

.x img {
  width: 20px;
  aspect-ratio: auto 20 / 20;
  height: 20px;
  border-radius: 50%;
}

@media (min-width: 800px) {
  .header-icons {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 0 !important;
  }

  .header-icons > *:not(:last-child) {
    margin-right: 1rem;
  }

  .mobile-visible-only {
    display: none !important;
  }

  .header {
    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .header > * {
    margin-right: 1rem;
  }

  .header__logo {
    flex-grow: 0;
    margin-top: -4px;
    margin-bottom: -4px;
  }

  .header-nav {
    display: flex;
    flex-direction: row;
  }

  .header-menu-items {
    display: flex;
    margin-top: 0;
    align-items: center;
    margin-right: 0;
  }

  .header-menu-items.visible {
    display: flex;
  }

  .header-menu-items > * {
    margin-right: 1rem;
  }

  .header-nav > * {
    margin-right: 1rem;
    border: none;
  }

  .header-nav a {
    border: none;
    padding: 0;
    font-size: 14px;
    line-height: 1.5;
  }

  .header-search {
    margin-bottom: 0;
    max-width: 272px;
    width: 100%;
  }

  .header__notification {
    order: 9;
  }
}

.repos__header-wrapper {
  border-bottom: 1px solid #e1e4e8;
  margin-top: 24px;
}

.repos__header-container {
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  flex-direction: column;
}

.main-container {
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  flex-direction: column;
}

.public-repos-count {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #e1e4e8;
  width: fit-content;
}

.public-repos-count .bold {
  font-weight: 600;
}

@media (min-width: 800px) {
  .icon-desktop {
    display: block;
  }

  .repos__header-container {
    padding-left: 2rem;
    padding-right: 2rem;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
  }

  .repos__header-container > * {
    padding-right: 16px;
    padding-left: 16px;
  }

  .repos__header-container > *:first-child {
    flex-shrink: 0;
    width: 25%;
  }

  .main-container {
    margin-right: -16px;
    margin-left: -16px;
    padding-left: 2rem;
    padding-right: 2rem;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .main-container > * {
    padding-right: 16px;
    padding-left: 16px;
  }

  .main-container > *:first-child {
    flex-shrink: 0;
    width: 25%;
  }
}

.user-details {
  margin-top: 1rem;
}

@media (min-width: 800px) {
  .user-details {
    margin-top: -32px;
  }
}

.user-details__name-and-avatar {
  display: flex;
  margin-bottom: 2rem;
}

.user-details__avatar {
  margin-right: 1rem;
  width: 16%;
}

.user-details__avatar img {
  border-radius: 50%;
  width: 100% !important;
}

.user-details__full-name {
  font-size: 1.625rem;
  font-weight: 600;
  line-height: 1.25;
}

.user-details__username {
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  color: #586069;
}

.user-details__bio {
  font-size: 1rem;
  margin-bottom: 1rem;
}

@media (min-width: 800px) {
  .user-details__name-and-avatar {
    flex-direction: column;
    margin-bottom: 1rem;
  }

  .user-details__avatar {
    margin-right: 0;
    margin-bottom: 1rem;
    width: 100%;
  }
}

.repos {
  padding-bottom: 24px;
  width: 100%;
}

.repos__header {
  margin-left: -1rem;
  margin-right: -1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.repos__header nav {
  display: flex;
  overflow-x: auto;
}

.repos__header a {
  font-weight: 400;
  text-decoration: none;
  padding: 8px 16px;
  font-size: 14px;
  line-height: 30px;
  color: #24292e;
  text-align: center;
  white-space: nowrap;
  background-color: initial;
  border-bottom: 2px solid transparent;
  display: flex;
  align-items: center;
}

.repos__header a:hover {
  color: #24292e;
  text-decoration: none;
  border-bottom-color: #d1d5da;
  outline: 1px dotted transparent;
  outline-offset: -1px;
  transition: border-bottom-color 0.12s ease-out;
}

.repos__header a.active {
  font-weight: 600;
  border-bottom-color: #f9826c;
}

.repos__count {
  font-weight: 400;
  margin-left: 4px;
  color: #24292e;
  background-color: #d1d5da80;
  display: inline-block;
  min-width: 20px;
  padding: 0 6px;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  border: 1px solid transparent;
  border-radius: 2em;
  text-align: center;
}

.repos__search {
  margin-bottom: 4px;
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #e1e4e8;
}

.repos__search input {
  width: 100%;
  padding: 5px 12px;
  font-size: 14px;
  line-height: 20px;
  color: #24292e;
  vertical-align: middle;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: right 8px center;
  border: 1px solid #e1e4e8;
  border-radius: 6px;
  outline: none;
}

.repo__list {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.repo {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #e1e4e8;
}

.repo__details {
  display: flex;
  flex-direction: column;
}

.repo__name a {
  font-weight: 600;
  color: #0366d6;
  text-decoration: none;
  font-size: 20px;
}

.repo__description {
  color: #586069;
  margin-bottom: 8px;
  padding-right: 24px;
}

.repo__meta {
  margin-top: 8px;
  color: #586069;
  font-size: 12px;
}

.repo__meta > * {
  margin-right: 1rem;
}

.repo__star {
  display: flex;
  align-items: start;
  justify-content: center;
}

.repo__star svg {
  margin-right: 0.2rem;
  fill: #6a737d;
}

.repo__star button {
  display: flex;
  align-items: center;
  padding: 3px 12px;
  font-size: 12px;
  line-height: 20px;
  color: #24292e;
  background-color: #fafbfc;
  font-weight: 500;
  user-select: none;
  border: 1px solid #1b1f2326;
  border-radius: 6px;
  appearance: none;
  text-transform: capitalize;
}

.repo__star button:hover {
  background-color: #f3f4f6;
  border-color: #1b1f2326;
  transition-duration: 0.1s;
}

.repo-language-color {
  position: relative;
  top: 1px;
  display: inline-block;
  width: 12px;
  height: 12px;
  border: 1px solid #1b1f231a;
  border-radius: 50%;
}

.repo__pagination {
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}

.pagination-button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination-button-wrapper button {
  color: #0366d6;
  display: inline-block;
  padding: 5px 16px;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 20px;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid #1b1f2326;
  background-color: #fafbfc;
  margin: 0;
}

.pagination-button-wrapper button.disabled {
  color: #0366d680;
  background-color: #fafbfc;
}

.pagination-button-wrapper button:hover:not([disabled]) {
  color: #fff;
  background-color: #0366d6;
}

.pagination-button-wrapper button:first-child {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  border-right-width: 0;
}

.pagination-button-wrapper button:last-child {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.footer {
  font-size: 0.75rem;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  color: #586069;
  border-top: 1px solid #e1e4e8;
  padding-right: 16px;
  padding-left: 16px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.footer ul {
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 8px;
}

.footer ul > * {
  margin-right: 1rem;
}

.footer a {
  font-size: 0.75rem;
  text-decoration: none;
  color: #0366d6;
}

.footer-icon {
  display: none;
}

@media screen and (min-width: 800px) {
  .footer {
    font-size: 0.75rem;
    text-decoration: none;
    color: #586069;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    margin-right: auto;
    margin-left: auto;
    max-width: 1280px;
  }

  .footer-icon {
    display: flex;
    margin-right: 1rem;
  }

  .footer-icon svg {
    fill: #d1d5da;
  }

  .footer ul {
    justify-content: space-between;
    width: 41.66667%;
  }
}
